.classpath
/target
.idea/
target/
.project
.settings/

excavator.idea/
excavator.project
excavator.settings/

wallet.idea/
wallet.project
wallet.settings/

bitcoin-excavator-wallet.spvchain
bitcoin-excavator-wallet.wallet
bitcoin-excavator.iml
excavator.iml
wallet.iml

excavator/target
excavator/.classpath
excavator/.idea   

wallet/target
wallet/.classpath
wallet/.idea



